@media (min-width: 1279px) and (max-width: 1438px) {

	.logo-small__img {
	    width: 90%;
	    padding-top: 5%;
	}

	.to-book__title {
	    font-size: 24px;
	    max-width: 262px;
	}

	.countDown_adap {
    	margin-right: 2%;
	}

	.btn-green_to-book {
    	font-size: 22px;
	    padding: 10px 5px;
	    margin-right: 15px;
	}

	.phone_head {
	    margin-top: 17px;
	    font-size: 14px;
	}

	.asking__item {
		padding: 20px 0;
	}

	.for-whom__block-head {
    	padding: 7% 12% 15%;
	}

	.for-whom__block-text {
	    padding: 10% 10% 0%;
	}
	
	.what-you-get__head {
	    padding: 4% 3% 0% 4%;
	    min-height: 140px;
	    font-size: 24px;
	}

	.what-you-get__item {
    	font-size: 16px;
	    line-height: 20px;
	    margin-bottom: 20px; 
	}

	.what-you-get__article_size {
   		min-height: 310px; 
    }

    .what-you-get__list {
    	min-height: 0; 
	}

	.certificate {
		padding: 150px 0 100px 100px;
    	background-position-x: 140%;
	}

	.speaker__img {
	    display: block;
	    width: 35%;
	}

	.price-up_btn-block {
		width: 510px;
	}

	.final-bonus__accordion {
   		padding-right: 30px;
    }

    .phone {
    	font-size: 14px;
    }

	.accordion {
		font-size: 18px;
	}

	.panel {
	    font-size: 18px;
	    line-height: 20px;
	    
	}

	.panel__text {
    	padding: 4% 15%;
	}

	.btn-green_show {
	    padding: 30px;
	}

	.reg-form {
		top: 10%;
    	min-height: 590px;
	}

}
 
