@charset "UTF-8";
@import "reset";
@import "variables";
@import "fonts";


body {
	font-family: 'robotoregular', sans-serif, Arial;
}

.content {
	margin: 0 3%;
}

.content-size {
	max-width: 1700px;
	margin: 0 auto;
	padding: 0 3%;
}

/*___________________Section Intro___________________*/

.intro {
	background-image: url('../img/intro/banner-head.png');
	background-size: cover;
    background-position: center center;

	&_logo {
		display: flex;
		justify-content: space-between;
	}

	&_info {
		margin-top: 80px;
		padding-bottom: 50px;
	}

	&_conditions {
		width: 643px;
		margin-top: 36px;
		display: flex;
		flex-wrap: wrap;
		/*font-family: 'robotoregular', sans-serif, Arial;*/
		color: $yellow;
	}
}

.phone {
	line-height: 24px;

	&_head {
		margin-top: 10px;
	}

	&_first,
	&_second {
		display: block;
		color: #fff;
		/*font-family: 'robotoregular', sans-serif, Arial;*/
	}
}

.title {
	/*font-family: 'robotobold', sans-serif, Arial;*/
	font-size: 61px;
	font-weight: bold;
	color: #fff;
}

.what {
	padding: 0 50px;
    margin-right: 9px;
    margin-bottom: 9px;
	line-height: 66px;
	font-size: 30px;
}

.workshop {
	width: 38%;
	margin-bottom: 9px;
}

.when {
	width: 99%;
}

.workshop,
.when {
	line-height: 60px;
	font-size: 36px;
}

.what,
.workshop,
.when {
	background-color: rgba(17, 17, 17, .702);
  	text-align: center;
}

.placeholder-img {
	width: 30px;
}

.btn-block {
	margin-top: 103px;
	width: 630px;
    padding: 15px 10px;
    text-align: center;
	border-radius: 70px;
	background-color: rgba(33, 33, 33, .702);
	box-shadow: 0px 3px 22.95px 4.05px rgba(0, 0, 0, 0.35);
	cursor: pointer;

	&_text {
		margin: 0 4%;
    	padding: 18px 3%;
	    display: inline-block;
	    font-size: 30px;
	    background-color: #00cc6b;
	    box-shadow: 0px 9px 22.95px 4.05px rgba(0, 0, 0, 0.35), 0px 0px 16.2px 1.8px rgba(0, 0, 0, 0.25);
	    border-radius: 50px;
	    color: #f0f0f0;
	    outline: none;
	    border: none;
	    cursor: pointer;
	}

	&_pointer-left,
	&_pointer-right {
		width: 40px;
    	margin: -10px -8px;
	}

	&_pointer-right {
		transform: rotate(180deg); 
	}

	&_visibility {
		display: none;
	}
}

.description {
	width: 100%;
    max-width: 1700px;
    margin: 90px auto 0;
	color: #fff;
	display: flex;
	justify-content: space-between;

	&__first,
	&__second {
		width: 48%;
	}

	&__title {
		font-size: 30px;	
	}

	&__text {
		margin-top: 30px;
		font-size: 24px;

		&_first {
			line-height: 28px;
		}

		&_second {
			line-height: 39px;
		}
	}
}

.head {
	box-shadow: 0 0 10px 5px $darkblack;
	background-color: #1d1d1d;
	z-index: 10;

	&__content {
		display: flex;
	}
}

.logo-small {
	width: 19%;

	&__img {
		display: block;
	}
}

.logo-tablet {
	display: none;
}

.to-book {
	width: 70%;
	margin-right: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;

	&__title {
		max-width: 280px;
		padding-left: 2%;
		/*font-family: 'robotoregular', sans-serif, Arial;*/
		font-size: 30px;
	}
}

.btn-green {
	background-color: #00af81;
	outline: none;
	border: none;
	cursor: pointer;
	color: #f0f0f0;
	font-size: 30px;
	border-radius: 15px;

	&_to-book {
		padding: 15px;
	}

	&_show {
		padding: 45px;
		border-radius: 10px;
		background-color: rgb(0, 175, 129);
		box-shadow: 0px 0px 15.66px 2.34px rgba(35, 35, 35, 0.2);
	}
}

.countDown {
	display: flex;

	&_size {
		width: 540px;
		justify-content: space-between;
	}
}

.values {
	margin: 5px;
	padding: 13px 12px;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	font-size: 36px;
	color: #292929;
	border-radius: 5px;
	background-color: #f6c90e;

	&:after {
		position: absolute;
	    content: '';
	    border: 1px solid rgba(224, 180, 0, 0.5);
	    width: 61px;
	    margin-left: -52px;
	    margin-top: 17px;
	    z-index: 0;
	}
}

.caption {
	display: block;
    text-align: center;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	font-size: 16px;
	color: #3c3c3c;

	&_color {
		padding-top: 10px;
		font-size: 18px;
		color: $white;
	}
}

/*__________________asking section_________________*/

.asking {
	margin: 75px 0 84px;
	width: 100%;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	color: $black;

	&__head {
		font-size: 36px;
		font-weight: bold;
		text-align: center;
	}

	&__icon {
		margin: 100px;
		min-width: 262px;
	    height: 256px;
	    background-color: $white;
	    border-radius: 50%;
	    box-shadow: 0px 19px 41.89px 17.11px rgba(52, 52, 52, 0.17);
	    background-image: url(../img/hat.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    z-index: 8;
	} 

	&__content {
		margin-top: 75px;
		display: flex;
		justify-content: center;
	}

	&__item {
		padding: 35px 0;
		position: relative;
	    font-size: 24px;

	    &:first-child {
	    	padding-left: 200px;

	    	&:before {
	    		left: 70px;
    			top: 18px;
	    	}

	    	&:after {
				left: -170px;
			    top: 100px;
			    transform: rotate(-27deg);
	    	}
	    }

	    &:nth-child(2) {
	    	padding-left: 235px;

	    	&:before {
	    		left: 115px;
    			top: 20px;
	    	}

	    	&:after {
	    		left: -136px;
			    top: 76px;
			    transform: rotate(-15deg);
	    	}
	    }

	    &:nth-child(3) {
	    	padding-left: 260px;

	    	&:before {
	    		left: 135px;
    			top: 25px;
	    	}

	    	&:after {
	    		left: -125px;
			    top: 49px;
			    transform: rotate(-1deg);
	    	}
	    }

	    &:nth-child(4) {
	    	padding-left: 235px;

	    	&:before {
	    		left: 115px;
    			top: 25px;
	    	}

	    	&:after {
	    		left: -125px;
			    top: 25px;
			    transform: rotate(9deg);
	    	}
	    }

	    &:last-child {
	    	padding-left: 190px;

	    	&:before {
	    		left: 75px;
    			top: 25px;
	    	}

	    	&:after {
	    		left: -177px;
			    top: -10px;
			    transform: rotate(21deg);
	    	}
	    }
		
		&:before {
			content: "";
		    position: absolute;
		    top: -21px;
		    left: 238px;
		    width: 45px;
		    height: 45px;
		    border-radius: 50%;
		    background-color: #f6c90e;
			
		}

		&:after {
			content: "";
			position: absolute;
			left: 20px;
			width: 272px;
			height: 7px;
			background-color: $yellow;
		}
		
	}
}

/*__________________registration section_________________*/

.registration {
	background-image: url('../img/bcg-keyboard.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0 55px;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	font-size: 36px;
	text-align: center;
	line-height: 62px;
	color: $white;

	&__text-yellow {
		color: $yellow;
	}

	&_big-text {
		font-size: 72px;
		font-weight: bold;
	}

	&_small-text {
		font-size: 30px;
	}

	&_countDown {
		margin: 30px auto;
		line-height: 1;
	}

	&_btn-block {
		margin: 0 auto;
		width: 580px;
	}
}

#day2,
#hour2,
#minute2,
#second2 {
	background-color: $white;

	&:after {
		border: 1px solid rgba(128, 128, 128, 0.5);
	}
}

.caption2 {
	font-size: 18px;
}

/*___________________Ads section____________________*/

.ads {

	background: url(../img/notebook.png) 0 40% no-repeat,
				url(../img/cup.png) 100% 10% no-repeat,
				url(../img/flower.png) 100% 75% no-repeat;
	
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	background-color: $lightgrey;
	color: $black;
	padding: 165px 0 50px;

	&__head {
		font-size: 36px;
	}

	&__block {
		width: 55%;
		margin: 0 auto 3%;
		padding: 50px 75px;
		font-size: 24px;
		background-color: $white;
		border-radius: 10px;
		box-shadow: 0 0 1em;
	}

	&__text {
		padding-top: 40px;
	}

	&__text-bold {
		font-weight: bold;
	}

	&__text-up {
		text-transform: uppercase;
	}
}

/*__________________for-whom_______________________*/

.for-whom {
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	color: $white;

	&__head {
	    margin: 150px auto 88px;
	    text-align: center;
	    line-height: 54px; 
		font-size: 36px;
		color: $black;
	}

	&__content {
		padding-bottom: 30px;
		display: flex;
    	justify-content: center;
	}

	&__text-yellow {
		color: $yellow;
	}

	&__block {
		width: 31%;
		max-width: 500px;
		margin: 0 19px;
		background-repeat: no-repeat;
		border: 3px solid $yellow;
		border-radius: 15px;
		background-size: cover;
	}

	&__block-first {
		background-image: url(../img/for-whom1.png);
	}

	&__block-second {
		background-image: url(../img/for-whom2.png);
	}

	&__block-third {
		background-image: url(../img/for-whom3.png);
	}

	&__block-head {
		background-color: rgba(40, 40, 40, 0.9);
	    border-top-left-radius: 15px;
	    border-top-right-radius: 15px;
	    padding: 7% 12%;
	    max-height: 15%;
	    font-size: 30px;
	    line-height: 40px;
	}

	&__block-text {
		padding: 15% 10%;
	    width: 80%;
	    font-size: 24px;
	    line-height: 30px;
	}
}

/*__________________warranty section___________________*/

.warranty {
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	background-color: $lightgrey;
	
	&__head {
		padding: 180px 0 118px;
		font-size: 36px;
		text-align: center;
		color: $black;
	}

	&__content {
		padding-bottom: 160px;
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}

	&__item {
		width: 23%;
	    max-width: 410px;
	    min-height: 285px;
		margin: 22px 9px;
		display: flex;
		justify-content: center;
    	align-items: center;
		background-repeat: no-repeat;
		border-radius: 10px;
		font-size: 30px;

		&:first-child {
			background-image: url(../img/warranty1.png);
		}

		&:nth-child(2) {
			background-image: url(../img/warranty2.png);
		}

		&:nth-child(3) {
			background-image: url(../img/warranty3.png);
		}

		&:nth-child(4) {
			background-image: url(../img/warranty4.png);
		}

		&:nth-child(5) {
			background-image: url(../img/warranty5.png);
		}

		&:nth-child(6) {
			background-image: url(../img/warranty6.png);
		}

		&:last-child {
			background-image: url(../img/warranty7.png);
		}
	}

	&__link {
		text-align: center;
		color: $white;
	}
}

/*__________________clarify section___________________*/

.clarify {
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	background-image: url(../img/clarify-bcg.png);
	background-repeat: no-repeat;
	background-size: cover;

	&_text-big {
		margin: 0 40px;
		padding: 23px 100px;
	    background-color: rgba(17, 17, 17, 0.702);
	    display: inline-block;
	}

	&__text {
		font-size: 30px;
		color: $white;
		text-align: center;
	    width: 50%;
	    margin: 0 auto;
	    padding: 30px 0;
	    line-height: 42px;
	}

	&__text-yellow {
		font-size: 30px;
		color: $yellow;
	}

	&__head {
		margin: 10px auto 30px;
	    padding: 3%;
	    text-align: center;
	    background-color: rgba(13, 7, 4, 0.2);
	    color: #f6c90e;
	    font-size: 36px;
	    line-height: 50px;
	}

	
	
}

.date {
		padding: 35px 0px 40px;
    	text-align: center;
    	/*font-family: 'robotoregular', sans-serif, Arial;*/

    	&__placeholder-link {
			position: relative;
		}

		&__placeholder-img {
			left: -45px;
    		position: absolute;
    		width: 30px;
    		top: 11px;
		}

		&__text {
			display: inline-block;
    		font-size: 30px;
    		color: #f6c90e;
    		font-size: 36px;
    		background-color: rgba(17, 17, 17, .72);
    		padding: 25px 100px;
    		margin: 0 25px;
	    }

	}

/*__________________skills-up section_________________*/

.skills-up {
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	color: $black;

	&__head {
		font-size: 36px;
		text-align: center;
		padding: 188px 0 60px;
	}

	&__list {
		width: 1130px;
		margin: 10px auto;
		padding-bottom: 118px;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}

	&__item {
		width: 348px;
	    height: 145px;
	    margin: 15px 0;
	    position: relative;
	    line-height: 30px;
	    padding: 25px 117px 25px 75px;
	    overflow: hidden;
	    font-size: 24px;
	    border-radius: 10px;
	    background-color: white;
	    box-shadow: 0px 0px 34.58px 3.42px rgba(35, 35, 35, 0.15);
	    letter-spacing: -.7px;

		&:first-child, &:nth-child(4) {
			order: 1;
		}

		&:nth-child(2), &:nth-child(5) {
			order: 2;
		}

		&:nth-child(3), &:last-child {
			order: 3;
		}

	    &:before {
	    	position: absolute;
		    top: -15px;
		    content: "";
		    background-color: #f6c90e;
		    box-shadow: inset 0px 0px 7.7px 2.3px rgba(0, 0, 0, 0.15);
		    margin-left: -90px;
		    padding: 35px;
		    border-radius: 50%;
	    }
	}

	&__check {
		width: 40px;
		position: absolute;
		top: 2px;
		left: 7px;
	}
}

/*_________________register-now section_________________*/

.register-now {
	background-image: url(../img/register-now.png);
	background-repeat: no-repeat;
	background-size: cover;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	color: $white;

	&_btn-block {
		width: 760px;
		margin: 0 auto;
	}

	&__text {
		padding: 64px 0 45px;
		text-align: center;
		font-size: 30px;
		line-height: 35px;
	}

	&__text-yellow {
		color: $yellow;
	}
}

/*_________________suitable-for section________________*/

.suitable-for {
	margin: 0 auto;
	padding-top: 130px;
   /* width: 68%;*/
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    /*font-family: 'robotoregular', sans-serif, Arial;*/
	
    

	&__article {
		width: 45%;
		margin: 0 2%;
	    border: 3px solid #f6c90e;
	    border-radius: 10px;
    }

	&__head {
		padding: 11%;
		font-size: 30px;
		background-color: $black;
		color: $white;
		border-top-right-radius: 10px;
    	border-top-left-radius: 10px;
	}

	&__list {
		padding: 6%;
	}

	&__item {
		background-repeat: no-repeat;
	    background-size: 20px;
	    padding-left: 57px;
	    font-size: 20px;
	    color: #3c3c3c;
	    line-height: 24px;
	    margin-bottom: 35px;

	    &_add {
	    	background-image: url(../img/add.svg);
	    }

	    &_substract {
			background-image: url(../img/substract.svg);
	    }
	}

	&_btn {
		margin: 62px auto 44px;
	}

	
}

/*_________________why-now_________________*/

.why-now {
	padding: 75px 0 30px;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	background: url(../img/keyboard2.png) 0 40% no-repeat,
				url(../img/flower2.png) 100% -1% no-repeat,
				url(../img/iphone.png) 100% 45% no-repeat;
	background-color: $lightgrey;
	color: $black;

	&__item {
		width: 55%;
    	margin: 0 auto 3%;
		padding: 45px 68px;
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 6.58px 0.42px rgba(35, 35, 35, 0.2);

		&_first {
			font-size: 30px;
			line-height: 37px;
		}

		&_second {
			font-size: 24px;
		}
	}

	&__head {
		margin-bottom: 50px;
    	line-height: 37px;
		font-size: 30px;
	}

	&__text {
		margin-bottom: 40px;
		line-height: 35px;
	}

	&__text-yellow {
		color: $yellow;
	}
}

/*__________________program-of-workshop_________________*/

.program-of-workshop {
		margin: 0 auto 96px;
    	text-align: center;
		/*font-family: 'robotoregular', sans-serif, Arial;*/

	&__wrap {
		display: flex;
		justify-content: center;
	}	

	&__head {
		margin-top: 60px;
		font-size: 36px;
		font-weight: normal;
		text-align: center;
	}

	&__left-column {
		width: 35%;
		margin: 40px 20px 60px 110px;
	}

	&__right-column {
		width: 35%;
		margin: 40px 110px 60px 20px;
	}
}

.accordion {
	position: relative;
    width: 100%;
    min-height: 84px;
    margin: 20px 0 0 0;
    padding-left: 90px;
    display: flex;
    background-color: #fff;
    color: #3c3c3c;
    /*font-family: 'robotoregular', sans-serif, Arial;*/
    font-size: 24px;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 21.6px 2.4px rgba(35, 35, 35, 0.15);
    transition: 0.4s;

  	&:before {
  		position: absolute;
	    top: 8px;
	    z-index: 1;
	    content: "";
	    background-color: #f6c90e;
	    box-shadow: inset 0px 0px 7.7px 2.3px rgba(0, 0, 0, 0.15);
	    margin-left: -100px;
	    padding: 37px 27px 30px 58px;
	    background-image: url(../img/arrows.svg);
	    background-size: 35px;
	    background-repeat: no-repeat;
	    background-position: center;
	    border-radius: 50% 50% 15% 15%;
	    transform: rotate(90deg);
	}
  }

.accordion.active:before {
    transform: rotate(270deg);
    border-radius: 15% 15% 50% 50%;
}

.panel {
	display: none;
	background-color: $white;
	color: $black;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	font-size: 24px;
	border-radius: 8px;
  	box-shadow: 0px 0px 21.6px 2.4px rgba(35, 35, 35, 0.15);
  	line-height: 30px;
	text-align: left;

  	
  	&__text {
  		padding: 15px 20px 15px 73px;
  		text-align: left;

  		&:last-child {
  			background-image: url(../img/up-arrow.svg);
		    background-repeat: no-repeat;
		    background-size: 35px;
		    background-position-x: 20px;
		    background-position-y: 20px;
  		}
  	}
}

.panel.show {
	display: block;
}

/*________________bonus section________________*/

.bonus {
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	background-color: $lightgrey;
	/*font-family: 'robotoregular', sans-serif, Arial;*/

	&__text {
		color: $black;
		padding: 24px 0;
		
		&_big {
			display: inline-block;
			padding: 22px 95px;
			font-size: 48px;
			background-color: $black;
			color: $yellow;
		}

		&_middle {
			font-size: 30px;
		}

		&_small {
			font-size: 24px;
		}

		&_grey {
			color: #8c8c8c;
		}
	}
}

.rectangle,
.triangle {
	display: none;
}

/*_______________what-you-get setion______________*/

.what-you-get {
	margin: 0 auto;
	padding: 130px 0 155px;
	width: 87%;
    display: flex;
    justify-content: space-between;
    /*font-family: 'robotoregular', sans-serif, Arial;*/
	
    &__article {
		width: 33%;
		border: 3px solid $yellow;
		border-radius: 10px;

		&_size {
			width: 28%;
		    min-height: 570px;
		    align-self: baseline;
		}
	}

	&__head {
		padding: 3% 8% 4%;
    	min-height: 160px;
		font-size: 30px;
		line-height: 40px;
		background-color: $black;
		color: $white;
		border-top-right-radius: 10px;
    	border-top-left-radius: 10px;

    	&_size {
    		padding: 3% 8% 4% 8%;
    		min-height: 160px;
    	}
	}

	&__list {
		padding: 5% 10%;
    	min-height: 403px;
	}

	&__item {
	    font-size: 20px;
	    color: #3c3c3c;
	    line-height: 24px;
	    margin-bottom: 35px;

	    &_grey {
	    	color: #8c8c8c;
	    }
	}	
}

/*________________more-profit section_____________*/

.more-profit {
	padding: 110px 0 80px;
	background-image: url(../img/more-profit.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	&__text {
		/*font-family: 'robotoregular', sans-serif, Arial;*/
		font-size: 42px;
		color: $white;
		line-height: 45px;

		&_yellow {
			padding-top: 10px;
			color: $yellow;
		}
	}

	&_btn-block {
		width: 760px;
		margin: 68px auto 0;
	}
}

/*________________result section_____________*/

.result {
	padding: 155px 0 55px;
	font-family: 'robotoregular', sans-serif, Arial;
	background: url(../img/glasses.png) 0 35% no-repeat,
				url(../img/pens.png) 100% 50% no-repeat;
	background-color: $lightgrey;
	color: $black;

	&__head {
		font-size: 36px;
		text-align: center;
	}

	&__block {
		width: 55%;
		margin: 58px auto 0;
		padding: 45px 68px 0;
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 6.58px 0.42px rgba(35, 35, 35, 0.2);
		line-height: 40px;
	}

	&__text {
		padding-bottom: 40px;
		font-size: 24px;
	}
}

/*_______________certicate_____________*/

.certificate {
	padding: 200px 0 100px 100px;
    background-image: url(../img/ex-certificate.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 60px;
    background-size: contain;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	font-size: 30px;
	color: $black;

	&__wrap {
		width: 41%;
	    max-width: 540px;
	    text-align: center;

	}
	
	&__text {
		line-height: 45px;
	}

	&__head {
		padding: 40px 0 30px;
		font-size: 50px;
		color: $yellow;
		line-height: 50px;
	}

	&__head-size {
		padding: 20px 0 0;
	    display: flex;
	    justify-content: center;
	    font-size: 30px;
	}
}

/*_______________to-participate______________*/

.to-participate {
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	background-image: url(../img/to-participate.png);
	background-repeat: no-repeat;
	background-size: cover;

	&__head {
		padding: 57px 0 0;
		font-size: 36px;
		color: $white;
		text-align: center;
		line-height: 50px;
	}

	&__color {
		color: yellow;
	}

	&_btn-block {
		margin: 50px auto 0px;
	}
}

/*_______________speaker______________*/

.speaker {
	padding-top: 177px;
	padding-bottom: 68px;
	/*font-family: 'robotoregular', sans-serif, Arial;*/

	&__head {
		padding-bottom: 58px;
		text-align: center;
	}

	&__img {
		margin: 0 60px 60px 30px;
	    float: left;
	    border-radius: 10px;
	}

	/*&__wrap {
		margin-left: 200px;
		margin-right: 210px;
	}*/

	&__head,
	&__name {
		font-size: 36px;
		color: $black;
	}

	&__speciality {
		padding-bottom: 45px;
		font-size: 30px;
		color: #545454;
		line-height: 35px;
	}

	&__event {
		padding-bottom: 45px;
		font-size: 30px;
		color: #8c8c8c;
		line-height: 40px;
	}

	&__respons {
		font-size: 24px;
		color: #242424;
	}

	&__experience,
	&__skills {
		padding-bottom: 40px;
		font-size: 24px;
		color: #545454;
		line-height: 30px;
	}
}

/*________________Slider______________*/

.slider {
	background-color: $lightgrey;
}

.carousels {
	max-width: 1024px;
    margin: 0 auto;
    padding: 5% 15%;
    position: relative;
	
&__content {
    width: 856px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1); 
}
    
    &__inner {
        display: flex;
        position: absolute;
        left: 0;
        transition: left 0.25s ease-out;
    }

    &__img {
    	padding: 30px 60px;
    	background-color: $white;
    }

    &__bubbles {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        margin-bottom: 5px;
    }    

        &__bubble {
            margin: 5px;
            background-color: grey;
            border-radius: 100000px;
            width: 20px;
            height: 20px;
            display: inline-block;
            opacity: 1;
            transition: opacity 0.1s linear;
            cursor: pointer;
        }    
			
			&__bubble.active {
                background-color: $yellow;
            }

            &__arrow-left {
            	position: absolute;
			    top: 370px;
			    left: 8%;
			    width: 70px;
			    transform: rotate(270deg);
            }

            &__arrow-right {
			    position: absolute;
			    top: 370px;
			    right: 8%;
			    width: 70px;
			    transform: rotate(90deg);
			}
}

/*_________________price-up_______________*/

.price-up {
	padding: 80px 0 10px;
	background-image: url('../img/price-up.png');
	background-repeat: no-repeat;
	background-size: cover;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	font-size: 36px;
	color: $white;

	&_content {
		display: flex;
		margin-bottom: 50px;
	}

	&_btn-block {
		margin-top: 50px;
	}
	
	&__block {
		width: 50%;
	}

	&__color {
		color: $yellow;
	}
	&__head {
		padding-bottom: 70px;
    	line-height: 50px;
	}

	&__count-head {
		padding-bottom: 20px;
	}

	&__footer {
		text-align: center;
		line-height: 40px;

		&_font {
			font-size: 18px;
		}
	}
}

.count-value {
	padding: 30px;
    background-color: white;
    color: black;
    font-size: 48px;
    font-weight: bold;
    border-radius: 10px;

	&:after {
		position: absolute;
	    content: '';
	    border: 1px solid rgba(128, 128, 128, 0.5);
	    width: 110px;
	    margin-left: -83px;
	    margin-top: 24px;
	}
}

.price-block {
	line-height: 65px;

	&__item {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
	}

	&__end {
		line-height: 30px;
		font-size: 18px;
	}

	&_gradient {
		background: linear-gradient( -10deg, rgb(26,23,21) 0%, rgba(26,23,21,0.05) 95%, rgba(26,23,21,0) 100%);
 		
	}
}

/*________________refund_______________*/

.refund {
	padding-top: 155px;
	position: relative;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	font-size: 24px;
	
	color: $black;
	background: url(../img/cup2.png) 0 95% no-repeat,
				url(../img/note-book.png) 100% 65% no-repeat,
	            url(../img/scissors.png) 0 21% no-repeat,
				url(../img/flower3.png) 100% 15% no-repeat,
				$lightgrey;
	&__img {
		display: block;
		position: absolute;
		z-index: 0;

		&_scissors {
			top: 340px;
			left: 0;
		}

		&_flower {
			top: 265px;
			right: 0;
		}
	}
}

.refund-border {
	box-shadow: 0px 0px 6.58px 0.42px rgba(35, 35, 35, 0.2);
	border-radius: 10px;
}

.refund-item {
	display: flex;
	width: 55%;
    margin: 58px auto 30px;
    padding: 45px 68px 45px;
    background-color: $white;
	
    position: relative;
    z-index: 7;

	&__head {
		margin-bottom: 40px;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 40px;
	}

	&__text {
		line-height: 30px;
	}

	&__img {
		display: block;
    	max-height: 240px;
	}	
}

.no-doubt {
	padding: 1px 0 80px;
	
	
	
	&__article {
		width: 55%;
	    margin: 58px auto 30px;
	    padding: 45px 68px 45px;
		position: relative;
		background-color: $white;
	    line-height: 30px;
	}

	&__text {
		margin-bottom: 40px;

		&_end {
			padding-top: 30px;
		    margin-bottom: 0;
		    font-weight: bold;
		}
	}

	&__head {
		margin-bottom: 50px;
		font-size: 30px;
		font-weight: bold;
		line-height: 40px;
	}

	&__color {
		color: $yellow;
	}

	&__list {

	}

	&__item {
		margin-bottom: 25px;
		padding-left: 70px;

		&_triangle {
			background-image: url(../img/triangle.svg);
			background-repeat: no-repeat;
			background-size: 24px;
		}

		&:nth-child(6) {
			font-weight: bold;
		}
	}
}

/*________________final-bonus_______________*/

.final-bonus {
	margin: 0 auto 110px;
    width: 50%;
	/*font-family: 'robotoregular', sans-serif, Arial;*/
	font-size: 30px;
	color: $black;
	
	&__head {
		margin: 150px 0 70px;
		font-size: 36px;
		text-align: center;
		line-height: 45px;
	}

	&__color {
		color: $yellow;
	}

	&__accordion {
		margin-top: 40px;
	    padding-left: 130px;
	    padding-right: 184px;
	    letter-spacing: 1px;
	    min-height: 110px;
			
		&.active:before {
		    border-radius: 15% 50% 50% 15%;
		    transform: rotate(0deg);
		}

		&:before {
			top: 0px;
			margin-left: -130px;
			padding: 71px 27px 40px 58px;
			background-color:#000;
			background-image: url(../img/checking.svg);
		    background-size: 45px;
		    background-repeat: no-repeat;
		    background-position: center;
		    border-radius: 15% 50% 50% 15%;
		    transform: rotate(0deg);
		}
	}
}

/*_________________google map________________*/

.contacts {
	display: flex;
	position: relative;
	
	color: $white;
}

.map {
	width: 85%;
	font-size: 30px;
	color: $darkblack;
}

.contact-info {
	width: 425px;
    padding: 35px 60px 75px 115px;
	background-color: $darkblack;
	color: $white;

	&__head {
		margin-bottom: 45px;
    	font-size: 24px;
	}

	&__list {

	}

	&__item {
		margin-bottom: 30px;
	    font-size: 24px;
	    background-size: 35px;
	    background-repeat: no-repeat;
	    padding-left: 80px;
	    line-height: 24px;
	    background-position-y: center;
		
		&:first-child {
			background-image: url(../img/phone-receiver.svg);
			
		}

		&:nth-child(2) {
			background-image: url(../img/phone-receiver.svg);
		}

		&:nth-child(3) {
			background-image: url(../img/envelope.svg);
		}

		&:nth-child(4) {
			background-image: url(../img/placeholder-white.svg);
		}

		&:last-child {
			background-image: url(../img/clock.svg);
		}
	}

	&__item-link {
		display: inline-block;
    	padding: 10px 0 10px;
		color: $white;
	}

	&__font {
		font-size: 20px;
	}

	&__small {
		font-size: 16px;
	}
}

.booking {
	max-width: 430px;
	padding: 70px 0 40px;
	position: absolute;
	top: 15%;
    right: 8%;
	font-size: 30px;
	background-color: $black;
	text-align: center;
	border-radius: 15px;

	&__text {
		margin-bottom: 100px;
		line-height: 38px;
	}

	&__color {
		color: $yellow;
	}
}

/*_______________footer_______________*/

.footer {
	padding: 1% 3% 1%;
	align-items: flex-end;
	background-color: $darkblack;
	font-size: 20px;
	color: $white;
	line-height: 40px;
	box-shadow: 0 0 10px 5px $darkblack;

	&_size {
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    padding: 0;
	}

	&__copyright {
		text-align: center;
	}

	&__font {
		font-size: 16px;
	}

	&__links {
		width: 22%;
	    display: flex;
	    justify-content: space-between;
		display: flex;
	}
}

.socials {

	&__img {
		width: 40px;
	}

	&__link {
		padding: 0 3px;
		display: inline-block;
		cursor: pointer;
	}
}

/*_______________media queries_______________*/

/* from 1439px to 1920px*/
@import "desktop";

/* from 1279px to 1438px*/
@import "laptop";

/* from 960px to 1279px*/
@import "tabletLandscape";

/* from 768px to 959px*/
@import "tabletPortrait";

/* to 767px*/
@import "mobile";
